garmin/fatcalorieextensionv1.xsd

<?xml version="1.0"?>
<xsd:schema xmlns="http://www.garmin.com/xmlschemas/FatCalories/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.garmin.com/xmlschemas/FatCalories/v1" xmlns:nlfc1="http://www.garmin.com/xmlschemas/FatCalories/v1"
	elementFormDefault="qualified">
    <xsd:element name="FatCalories" type="FatCalories_t"/>
    <xsd:complexType name="FatCalories_t">
	<xsd:sequence>
    		<xsd:element name="Value" type="xsd:unsignedShort"/>
	</xsd:sequence>
    </xsd:complexType>

</xsd:schema>
